<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ticketac - Login</title>
    <link rel="icon" type="/images/png" href="/images/train.png" />
    <!-- To add in order to scale the view for mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
   
    <nav class="navbar header col-12 ">
    
      <a href='/'><img src="/images/train.png" width="50" height="50" class="logo" alt="">
      <span class="tic">Ticketac</span></a>
      <div>
        <a href="/"><span class="logout">Connexion</span></a>
        
      </div>
      
    </nav>
  
    <div class="container-fluid"> 


        <div class="row row-login">

           <!-- SIGN IN AREA -->
           <div class="col-12 col-md-3 text-center">

            <div class="formArea">

              <h4 class="titleForm">Se Connecter :</h4>

              <form action="/users/sign-in" method="POST">
                <div class="form-group">
                  
                  <input name="emailFromFront"  type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                  
                  <input name="passwordFromFront" type="password" class="form-control" placeholder="Mot de passe">
                </div>

                <button type="submit" class="btn btn-danger">Connexion</button>
                
              </form>

            </div>

          </div>

          <!-- SIGN UP AREA -->
          <div class="col-12 col-md-3 text-center">

            <div class="formArea">
              <h4 class="titleForm">Créer un compte :</h4>
   
              <form action="/users/sign-up" method="POST" >
                <div class="form-group">
                 
                  <input name="FirstNameFromFront" required type="text" class="form-control" placeholder="Prénom">
                </div>
                <div class="form-group">
                   
                    <input name="NameFromFront" required type="text" class="form-control" placeholder="Nom">
                  </div>
                <div class="form-group">
                  
                  <input name="emailFromFront" required type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                  
                  <input name="passwordFromFront" type="password" class="form-control"  placeholder="Mot de passe" required>
                </div>

                <button type="submit" class="btn btn-danger">Créer</button>
              </form>
            </div>

          </div>
        </div>

        <div class="row">
          <img src="/images/landmark.png" class="eiffelTower">
        </div>
      </div>


      <footer>
        <p class="text-center">
          <i>© 2020 La Capsule</i>
        </p>
      </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

