<nav class=" header col-12 ">
    <a class="navbar" href="/">
    <img src="/images/train.png" width="50" height="50" class="logo" alt="">
    <span class="tic">Ticketac</span>
    <span class="logout">Deconnexion</span>
    </a>
</nav>