<nav class="navbar header col-12 ">
    
    <a href='/'><img src="/images/train.png" width="50" height="50" class="logo" alt="">
    <span class="tic">Ticketac</span></a>
    <div>
      <a href="/users/logout"><span class="logout">Deconnexion</span></a>
      <a href="/myLastTrips"><span class="lastTripNavbar">My last trips</span></a>
    </div>
    
  </nav>