body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1BA7F1;
  text-align: center;
  padding-bottom:0px;
  padding-left:0px;
  padding-right:0px;
  padding-top:0px
}

/*insérer image de fond*/

/* .image{
  background-image: url("/images/landmark.png") ;
  background-repeat: no-repeat;
  text-align: center;
}
 */

.a{
  text-align: left;
}

.titleForm{
  color : white;
}

.logout {
  margin-left: auto;
  margin-right: 15px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(189, 0, 0);
}

.lastTripNavbar {
  margin-left: auto;
  margin-right: 15px;
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.header{
  background-color: white;
  
}

.formArea{
  padding-top: 50px;
}

.row{
  display: flex;
  justify-content: center ;
  margin-top: 60px;
}

.tic{
font-size: 25px;
color: black;
font-weight: bold;
}

.onewayForm{
  color : white;
  font-size: 50px;
  margin-top: 40px;
  margin-right: 1300px;
}

.calendrier{
  color: white;
  font-size: 20px;
}

#start{
  height: 40px;
  width : 300px;
  margin-right: 20px;
  margin-left: 10px;
  padding-left: 20px;
  font-size: 20px;
}

.ligne{
  display: flex;
  justify-content: center ;
  margin-top: 60px;
  background-color: white;
  padding-top: 7px;
  margin-right: 700px;
  margin-left: 700px;
  border-radius: 5px;
}

.liste_ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  height: 100px;
}

.prix{
  font-size: 20px;
  font-weight: bold;
}

.btnOkTicket{
  margin-left: 30px;
  margin-right: 30px;
}

.trajet{
  font-size: 20px;
  font-weight: bold;
}



.available{
  color: white;
  margin-top: 50px;
  font-size: 30px;
  text-align: left;
}
