
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background: #3280b1; /* Old browsers */
  background: -moz-linear-gradient(top,  #E3F5FC 0%, #3280b1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #E3F5FC 0%,#3280b1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #E3F5FC 0%,#3280b1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3280b1',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  color: #383838;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

footer {
  margin-top: auto;
}

/*insérer image de fond*/

/* .image{
  background-image: url("/images/landmark.png") ;
  background-repeat: no-repeat;
  text-align: center;
}
 */
 .row{
  display: flex;
  justify-content: center ;
}

.row-login {
  margin-top: 60px;
}

.row-notFound {
  margin-top: 100px; 
  color: white;
}

.btn-notFound {
  margin-left: 10px;
}

.table {
  font-weight: bold;
}

.a{
  text-align: left;
}

.titleForm{
  color : white;
}

.username {
  margin-left: auto;
  margin-right: 15px;
  font-weight: bold;
  font-size: 15px;
}

.logout {
  margin-left: auto;
  margin-right: 15px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(189, 0, 0);
}

.lastTripNavbar {
  margin-left: auto;
  margin-right: 15px;
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.titleHomepage {
  color: white;
  margin-top: 50px;
  font-size: 30px;
  text-align: left;
}

.formHomepage {
  display: flex;

}

.header{
  background-color: white;
  
}


.tic{
font-size: 25px;
color: black;
font-weight: bold;
}

#dateForm{
  background-color: white;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
<<<<<<< HEAD
  max-width: 200px;
=======
  max-width: 199px;
>>>>>>> work
}

.liste_ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  height: 100px;
}

.prix{
  font-size: 20px;
  font-weight: bold;
}

.btnOkTicket{
  margin-left: 30px;
  margin-right: 30px;
}

.trajet{
  font-size: 20px;
  font-weight: bold;
}

.available{
  color: white;
  margin-top: 50px;
  font-size: 30px;
  text-align: left;
}

.eiffelTower{
  height: 300px;
  width: 300px;
}


