body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1BA7F1;
  padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px
}

.a{
  text-align: left;
}

.titleForm{
  color : white;
}

.logout {
  margin-left: auto;
  margin-right: 15px;
  color: black;
}


.header{
  background-color: white;
  
}

.formArea{
  padding-top: 50px;
}

.row{
  display: flex;
  justify-content: center ;
  margin-top: 60px;
}

.tic{
font-size: 25px;
color: black;
font-weight: bold;
}