body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.titleForm{
  color : white;
}

.logout {
  margin-left: auto;
  margin-right: 15px;
}



.home {
  
  background-color: rgb(109,179,242);
 

}




